body{
  margin: 0px;
}
header{
  background-color:#E82323 ;
  background-size: 1615px;
  background-image: url("https://lp.chatwork.com/image/7chatwork/img_hero_bg.png");
  text-align: center;
  padding-top:50px ;
 margin-bottom:50px ;
}

.text_inner{
  height: 500px;
  position:relative; 
  
  
}
.text_imag{
  height: 150px;
  position:absolute; 
  top: 35px;
  left: 43%;
}
  
.explanation p{
  z-index: 4;
  position:absolute; 
  top:430px;
  left: 36%;
  
}

.wrapper{
  max-width:1000px ;
  margin: 0 auto 0 auto;
}

.pad1{
 display: flex;
}
.pad1 h2{
  font-size: 30px;
  background-color: #E82323;
  text-align: center;
  color: white;
  padding: 30px 40px ;
  margin-right:35px ;
}
.pad1 h3{
  color: #E82323;
  font-size: 25px;
  margin: 17px 0 0 0;
}
  
.pad2{
  display: flex;
}

.pad2 h2{
  font-size: 30px;
  text-align: center;
  background-color: #E82323;
  color: white;
  padding:30px 40px;
 margin-right:35px ;
}
.pad2 h3{
  color: red;
  font-size: 30px;
}

.element{
  margin-top: 15px;
  display: flex;
  width: 33%;
}
.matter{
  margin-right:27px ;
}

.icon img{
  width: 300px;
}
.description h4{
  text-align: center;
  font-size: 25px;
}
.heading{
  text-align: center;
  margin-top: 80px;
}
.heading img{
  width: 60%;
}
.case{
  display: flex;
  text-align: center;
}
.imag img{
  width: 50%;
}
.data{
  background-color: rgb(238, 238, 123);
  margin: 7px;
}
.data h4{
 font-size: 30px;
 margin-bottom:0 ;
}
.data p{
  margin-top: 0;
}
.aq{
  font-size: 14px;
}
.aq p{
  margin: 0px
}
.aq a{
  color: #E82323
}
.arrow{
  text-align: center;
  margin: 50px 0;
}
.arrow img{
  width: 150px;
}
.ah{
  display: flex;
  justify-content: center;
}
.ac{
  width: 300px; 
  margin-left:30px ;
}
.ac h4{
  text-align: center;
  font-size: 25px;
  margin: 0px;
  margin-top: 20px;
}
.as{
  height: 300px;
}
.ac p{
  font-size: 16px;
}
.ag{
  max-width: 1250px;
  margin: 0 auto 0 auto;
}
.contents_four{
  background-image:url(https://lp.chatwork.com/image/7chatwork/img_aim_circle.png);
  background-size:contain ;
  background-repeat:no-repeat ;
  background-position:center ;
  height: 995px;
}
.ap{
  text-align: center;
}
.sf{
  color: white;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.al{
 margin-top: 200px;
  height: 60px;
}
.am{
  display: flex;
  justify-content: center;
}
.sd{
  width: 270px;
  color: white;
  margin-right:30px ;
}
.sd p{
  font-size: 16px;
  letter-spacing:1px;
}
.sd h2{
  text-align: center;
}
.sk{
  font-size: 40px;
}
.ak{
  width: 270px;
}
.dd{
  display: flex;
  align-items: center;
  margin-bottom:50px ;
}
.dl{
  margin-top: 50px;
  background-color: #E82323 ;
  width: 430px;
  height: 220px;
  margin-right:20px ;
}
.da{
 height: 105px;
 padding: 40px 20px;
 border-bottom:solid 2px white ;
}
.ds{
  margin-top: 50px;
}
.ww{
  border-bottom: solid 2px #E82323;
}
.ss{
  height: 75px;
}
.dp{
  margin-top: 10px;
  height: 17px;
}
.we{
  color: #E82323;
  letter-spacing: 3px;
  font-size: 15px;
}
.wr {
  display: flex;
}
.wr a{
  background-color: #E82323;
  color: white;
  display: block;
  padding: 25px ;
  width: 370px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;

}
footer{
  background-color: gray;
  text-align: center;
  padding: 20px;
  margin: 0px;
  margin-top: 30px;
}
footer img{
  width: 200px;
  margin: 0px;
  
}